<div id="phones_list">
  <% if phones.any? %>
    <%= render partial: "phones/phone_card", collection: phones, as: :phone, locals: { carrier: carrier } %>
  <% else %>
    <tr>
      <td colspan="3" class="px-4 py-12 text-center">
        <div class="flex flex-col items-center justify-center text-body-color dark:text-dark-6">
          <span class="material-icons text-6xl mb-4 opacity-50">phone</span>
          <p class="text-lg"><%= t("phones.no_phones") %></p>
        </div>
      </td>
    </tr>
  <% end %>
</div>
