<!-- Example: Task List Partial -->
<div id="tasks_list" class="space-y-3">
  <% tasks.each do |task| %>
    <%= turbo_frame_tag task do %>
      <%= render "tasks/task", task: task %>
    <% end %>
  <% end %>

  <% if tasks.empty? %>
    <div class="py-10 text-center text-slate-300">
      <span class="material-icons mb-3 text-5xl opacity-60">inbox</span>
      <p><%= t('tasks.no_tasks') %></p>
    </div>
  <% end %>
</div>
