<% content_for :page_title, t("tasks.new_title", default: "Create Task") %>

<div class="w-full">
    <% description_text = [
      t("tasks.new_description", default: "Please enter the delivery information below to create a logistics task."),
      t("tasks.required_fields_note", asterisk: "*", default: "Fields marked %{asterisk} are required.")
    ].join(" ") %>
    <%= render "form_card",
      title: t("tasks.new", default: "New Task"),
      description: description_text,
      back_path: tasks_path do %>
    <div id="task-form">
      <%= render "form", task: @task %>
    </div>
  <% end %>
</div>
