<% content_for :page_title, t("tasks.new_title", default: "Create Task") %>

<div class="w-full">
    <% new_desc = 'Please enter the delivery information below to create a logistics task.' %>
    <% required_template = 'Fields marked %{asterisk} are required.' %>
    <% parts = required_template.split('%{asterisk}', 2) %>
    <% required_html = safe_join([ERB::Util.html_escape(parts[0] || ''), content_tag(:span, '*', class: 'text-yellow-300 font-semibold text-base align-middle ml-1', 'aria-hidden': 'true'), ERB::Util.html_escape(parts[1] || '')]) %>
    <% description_html = safe_join([ERB::Util.html_escape(new_desc), ' ', required_html]) %>
    <%= render "form_card",
      title: t("tasks.new", default: "New Task"),
      description: description_html,
      back_path: tasks_path do %>
    <div id="task-form">
      <%= render "form", task: @task %>
    </div>
  <% end %>
</div>
