<div id="flash-messages" class="fixed top-4 right-4 z-99999 space-y-2 pointer-events-auto">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>
    <%= notification_tag(normalize_flash_type(type), message, id: dom_id_for_flash(type)) %>
  <% end %>
</div>
