<footer class="site-footer">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <div class="footer-bar">
    <div class="footer-left">
      <%= link_to "#terms", class: "footer-link" do %>
        <span><%= t("footer_terms") %></span>
      <% end %>
    </div>
    <div class="footer-right">
      <span class="fastepost-brand">fastepost <%= t("footer_rights_inline") %> &copy; 2019</span>
    </div>
  </div>
</footer>
