<div id="documents_list">
  <% if documents.any? %>
    <%= render partial: "documents/document_card", collection: documents, as: :document, locals: { carrier: carrier } %>
  <% else %>
    <tr>
      <td colspan="3" class="px-4 py-12 text-center">
        <div class="flex flex-col items-center justify-center text-body-color dark:text-dark-6">
          <span class="material-icons text-6xl mb-4 opacity-50">description</span>
          <p class="text-lg"><%= t("documents.no_documents") %></p>
        </div>
      </td>
    </tr>
  <% end %>
</div>
