<div id="payments_list">
  <% if payments.any? %>
    <%= render partial: "payments/payment_card", collection: payments, as: :payment %>
  <% else %>
    <tr>
      <td colspan="6" class="px-4 py-12 text-center">
        <div class="flex flex-col items-center justify-center text-slate-300">
          <span class="material-icons mb-4 text-6xl opacity-50">payment</span>
          <p class="text-lg"><%= t("payments.no_payments") %></p>
        </div>
      </td>
    </tr>
  <% end %>
</div>
