<div id="form_templates_list">
  <% if form_templates.any? %>
    <%= render partial: "form_templates/form_template_card", collection: form_templates, as: :form_template %>
  <% else %>
    <tr>
      <td colspan="4" class="px-4 py-12 text-center">
        <div class="flex flex-col items-center justify-center text-slate-300">
          <span class="material-icons mb-4 text-6xl opacity-50">article</span>
          <p class="text-lg"><%= t("form_templates.no_templates") %></p>
        </div>
      </td>
    </tr>
  <% end %>
</div>
