<div data-controller="schema-editor" class="schema-editor">
  <div data-schema-editor-target="canvas" class="schema-canvas">
    <!-- click to add fields; drag to move -->
  </div>
  <label for="form_template_schema">Schema (JSON)</label>
  <textarea name="form_template[schema]" id="form_template_schema" data-schema-editor-target="output" rows="8" class="schema-output"><%= (@form_template.schema || {}).to_json %></textarea>
</div>
